In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
user_interaction = pd.read_csv('user_interaction_pratilipi.csv')

In [4]:
user_interaction['updated_at'] = pd.to_datetime(user_interaction['updated_at'])

In [5]:
meta_data = pd.read_csv('metadata_pratilipi.csv')

In [6]:
meta_data['updated_at'] = pd.to_datetime(meta_data['updated_at'])
meta_data['published_at'] = pd.to_datetime(meta_data['published_at'])

In [7]:
merged_data = pd.merge(user_interaction, meta_data, on='pratilipi_id', how='left')

In [8]:

merged_data = merged_data.rename(columns={'updated_at_x': 'user_interacted'})
merged_data = merged_data.rename(columns={'updated_at_y': 'meta_data_updated'})

In [10]:
merged_data

,user_id,pratilipi_id,read_percent,user_interacted,author_id,category_name,reading_time,meta_data_updated,published_at
0,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,novels,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
1,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,family,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
2,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,romance,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
3,5506791971543560,1377786223038206,40.0,2022-03-19 13:49:25.660,-2.270332e+15,romance,361.0,2021-03-17 11:48:11,2021-03-16 19:09:19
4,5506791971543560,1377786223038206,40.0,2022-03-19 13:49:25.660,-2.270332e+15,suspense,361.0,2021-03-17 11:48:11,2021-03-16 19:09:19
...,...,...,...,...,...,...,...,...,...
4966616,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,novels,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966617,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,romance,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966618,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,suspense,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966619,5506791956021363,1377786226666757,100.0,2022-03-20 08:59:49.346,-2.270332e+15,novels,727.0,2021-12-03 18:10:45,2021-12-03 18:10:45
4966620,5506791956021363,1377786226666757,100.0,2022-03-20 08:59:49.346,-2.270332e+15,romance,727.0,2021-12-03 18:10:45,2021-12-03 18:10:45

In [13]:
merged_data['user_id'].nunique()

243606

In [19]:
merged_data.isnull().sum()

user_id                   0
pratilipi_id              0
read_percent              0
user_interacted           0
author_id            991943
category_name        991943
reading_time         991943
meta_data_updated    991943
published_at         991943
dtype: int64

In [21]:
#merged_data = merged_data.sort_values(by='user_interacted')

In [23]:
# Remove rows with critical missing values
merged_data.dropna(subset=['author_id', 'category_name', 'reading_time','meta_data_updated','published_at'], inplace=True)

In [25]:
merged_data

,user_id,pratilipi_id,read_percent,user_interacted,author_id,category_name,reading_time,meta_data_updated,published_at
0,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,novels,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
1,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,family,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
2,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291,-2.270332e+15,romance,376.0,2022-03-15 18:39:52,2022-03-15 18:39:52
3,5506791971543560,1377786223038206,40.0,2022-03-19 13:49:25.660,-2.270332e+15,romance,361.0,2021-03-17 11:48:11,2021-03-16 19:09:19
4,5506791971543560,1377786223038206,40.0,2022-03-19 13:49:25.660,-2.270332e+15,suspense,361.0,2021-03-17 11:48:11,2021-03-16 19:09:19
...,...,...,...,...,...,...,...,...,...
4966616,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,novels,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966617,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,romance,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966618,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083,-2.270332e+15,suspense,560.0,2021-12-08 15:08:01,2021-12-08 15:08:00
4966619,5506791956021363,1377786226666757,100.0,2022-03-20 08:59:49.346,-2.270332e+15,novels,727.0,2021-12-03 18:10:45,2021-12-03 18:10:45
4966620,5506791956021363,1377786226666757,100.0,2022-03-20 08:59:49.346,-2.270332e+15,romance,727.0,2021-12-03 18:10:45,2021-12-03 18:10:45

In [27]:
merged_data.isnull().sum()

user_id              0
pratilipi_id         0
read_percent         0
user_interacted      0
author_id            0
category_name        0
reading_time         0
meta_data_updated    0
published_at         0
dtype: int64

# Filtering because there are so many rows which would be computationally expensive

In [30]:
user_interaction_count = merged_data['user_id'].value_counts()

In [32]:
user_interaction_count

user_id
5506791978555287    673
5506791984436689    617
5506791985959683    583
5371339105280676    578
5506791986650045    558
                   ...
5506791996421136      1
5506791984734834      1
5506791990915567      1
5506791969622821      1
5506791973343947      1
Name: count, Length: 211141, dtype: int64

In [38]:
# Filter out users with less than 5 interactions
user_interaction_count = merged_data['user_id'].value_counts()
active_users = user_interaction_count[user_interaction_count > 250].index
filtered_data = merged_data[merged_data['user_id'].isin(active_users)]

print(f"Filtered data size: {filtered_data.shape}")

Filtered data size: (68841, 9)

In [40]:
filtered_data

,user_id,pratilipi_id,read_percent,user_interacted,author_id,category_name,reading_time,meta_data_updated,published_at
106,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,family,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
107,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,romance,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
108,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,entertainment,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
393,5506791967631324,1377786228029338,100.0,2022-03-20 09:15:31.208,-2.270332e+15,Pratilipi-Awards-Hindi,1116.0,2022-03-02 13:53:27,2022-03-02 13:53:27
394,5506791967631324,1377786228029338,100.0,2022-03-20 09:15:31.208,-2.270332e+15,romance,1116.0,2022-03-02 13:53:27,2022-03-02 13:53:27
...,...,...,...,...,...,...,...,...,...
4966191,5506791984835067,1377786223489520,100.0,2022-03-21 09:18:52.187,-2.270332e+15,romance,77.0,2021-04-25 07:19:18,2021-04-25 07:19:18
4966192,5506791984835067,1377786223489520,100.0,2022-03-21 09:18:52.187,-2.270332e+15,fantasy,77.0,2021-04-25 07:19:18,2021-04-25 07:19:18
4966454,5506791978763490,1377786227868379,100.0,2022-03-20 06:36:22.026,-2.270332e+15,novels,654.0,2022-02-18 16:21:07,2022-02-18 16:21:07
4966455,5506791978763490,1377786227868379,100.0,2022-03-20 06:36:22.026,-2.270332e+15,family,654.0,2022-02-18 16:21:07,2022-02-18 16:21:07
4966456,5506791978763490,1377786227868379,100.0,2022-03-20 06:36:22.026,-2.270332e+15,romance,654.0,2022-02-18 16:21:07,2022-02-18 16:21:07

# Train - Test Split

In [254]:
# Split into train and test sets (75% train, 25% test) based on the 'updated_at' timestamp
train_size = int(0.75 * len(filtered_data))
train_data = filtered_data.iloc[:train_size]
test_data = filtered_data.iloc[train_size:]

# Check the sizes of the splits
print(f"Training data size: {train_data.shape}")
print(f"Testing data size: {test_data.shape}")

Training data size: (51630, 9)
Testing data size: (17211, 9)

In [45]:
train_data

,user_id,pratilipi_id,read_percent,user_interacted,author_id,category_name,reading_time,meta_data_updated,published_at
106,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,family,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
107,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,romance,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
108,5506791979646770,1377786228185246,69.0,2022-03-19 07:48:23.275,-2.270332e+15,entertainment,439.0,2022-03-10 16:33:06,2022-03-10 16:33:05
393,5506791967631324,1377786228029338,100.0,2022-03-20 09:15:31.208,-2.270332e+15,Pratilipi-Awards-Hindi,1116.0,2022-03-02 13:53:27,2022-03-02 13:53:27
394,5506791967631324,1377786228029338,100.0,2022-03-20 09:15:31.208,-2.270332e+15,romance,1116.0,2022-03-02 13:53:27,2022-03-02 13:53:27
...,...,...,...,...,...,...,...,...,...
3711664,5506791984835067,1377786225481443,100.0,2022-03-21 15:39:05.985,-2.270332e+15,novels,592.0,2021-09-09 09:05:16,2021-09-09 09:05:16
3711665,5506791984835067,1377786225481443,100.0,2022-03-21 15:39:05.985,-2.270332e+15,action-and-adventure,592.0,2021-09-09 09:05:16,2021-09-09 09:05:16
3711666,5506791984835067,1377786225481443,100.0,2022-03-21 15:39:05.985,-2.270332e+15,Pratilipi-Awards-Hindi,592.0,2021-09-09 09:05:16,2021-09-09 09:05:16
3711723,5506791954355366,1377786219699244,100.0,2022-03-20 13:27:13.724,-4.063333e+15,novels,372.0,2020-06-19 13:57:06,2020-06-19 13:56:39
3711724,5506791954355366,1377786219699244,100.0,2022-03-20 13:27:13.724,-4.063333e+15,life,372.0,2020-06-19 13:57:06,2020-06-19 13:56:39

In [64]:
train_data['user_id'].nunique()

219

# Collaborative Recommendation

In [138]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from tqdm import tqdm

In [264]:
user_item_matrix = pd.pivot_table(
    train_data,
    values='read_percent',
    index='user_id',
    columns='pratilipi_id',
    fill_value=0
)

In [240]:
user_similarity = cosine_similarity(user_item_matrix)
user_similarity_df = pd.DataFrame(
    user_similarity,
    index=user_item_matrix.index,
    columns=user_item_matrix.index
)

In [242]:
def get_recommendations(user_id, n_recommendations=5):
    # Skip if user not in training data
    if user_id not in user_item_matrix.index:
        return []
    
    # Get similar users
    user_similarities = user_similarity_df.loc[user_id]
    similar_users = user_similarities.sort_values(ascending=False)[1:11]  # top 10 similar users
    
    # Get items read by similar users but not by target user
    user_items = user_item_matrix.loc[user_id]
    unread_items = user_items[user_items == 0].index
    
    # Calculate predicted ratings
    predictions = defaultdict(float)
    for item in unread_items:
        weighted_sum = 0
        similarity_sum = 0
        
        for similar_user, similarity in similar_users.items():
            rating = user_item_matrix.loc[similar_user, item]
            if rating > 0:
                weighted_sum += similarity * rating
                similarity_sum += similarity
        
        if similarity_sum > 0:
            predictions[item] = weighted_sum / similarity_sum
    
    # Sort and return top N recommendations
    recommendations = sorted(predictions.items(), key=lambda x: x[1], reverse=True)
    return recommendations[:n_recommendations]

In [244]:

# 5. Evaluate on test set
print("Evaluating recommendations...")
precision_scores = []
recall_scores = []

for user_id in tqdm(test_data['user_id'].unique()):
    if user_id not in user_item_matrix.index:
        continue
        
    # Get actual items from test set
    actual_items = set(test_data[test_data['user_id'] == user_id]['pratilipi_id'])
    
    # Get predicted items
    predictions = get_recommendations(user_id)
    predicted_items = set([item_id for item_id, _ in predictions])
    
    # Calculate metrics
    if len(predicted_items) > 0:
        precision = len(actual_items.intersection(predicted_items)) / len(predicted_items)
        precision_scores.append(precision)
    
    if len(actual_items) > 0:
        recall = len(actual_items.intersection(predicted_items)) / len(actual_items)
        recall_scores.append(recall)

Evaluating recommendations...

100%|██████████| 219/219 [03:39<00:00,  1.00s/it]

In [246]:
# 6. Calculate and print final metrics
avg_precision = np.mean(precision_scores)
avg_recall = np.mean(recall_scores)
f1_score = 2 * (avg_precision * avg_recall) / (avg_precision + avg_recall) if (avg_precision + avg_recall) > 0 else 0

In [188]:
print("\nExample Recommendations:")
for user_id in list(train_matrix.index)[:5]:  # First 5 users
    print(f"\nUser {user_id}:")
    recs = get_recommendations(user_id)
    for i, (item_id, score) in enumerate(recs, 1):
        category = meta_data[meta_data['pratilipi_id'] == item_id]['category_name'].iloc[0] \
            if item_id in meta_data['pratilipi_id'].values else 'Unknown'
        print(f"{i}. Pratilipi {item_id} (Category: {category})")

Example Recommendations:

User 4486566719693476:
1. Pratilipi 1377786217638770 (Category: romance)
2. Pratilipi 1377786219056910 (Category: novels)
3. Pratilipi 1377786219217737 (Category: romance)
4. Pratilipi 1377786220803440 (Category: romance)
5. Pratilipi 1377786223004254 (Category: action-and-adventure)

User 4546528720364196:
1. Pratilipi 1377786226591267 (Category: family)
2. Pratilipi 1377786228322121 (Category: action-and-adventure)
3. Pratilipi 1377786225471580 (Category: drama)
4. Pratilipi 1377786228137223 (Category: action-and-adventure)
5. Pratilipi 1377786226564767 (Category: romance)

User 4623856406274724:
1. Pratilipi 1377786226367632 (Category: novels)
2. Pratilipi 1377786224150562 (Category: family)
3. Pratilipi 1377786218996800 (Category: novels)
4. Pratilipi 1377786219644777 (Category: novels)
5. Pratilipi 1377786219743867 (Category: novels)

User 5371339105280676:
1. Pratilipi 1377786218488310 (Category: novels)
2. Pratilipi 1377786221387790 (Category: crime)
3. Pratilipi 1377786224792848 (Category: novels)
4. Pratilipi 1377786224909656 (Category: novels)
5. Pratilipi 1377786224937188 (Category: novels)

User 5506791946924407:
1. Pratilipi 1377786226124716 (Category: novels)
2. Pratilipi 1377786226200655 (Category: novels)
3. Pratilipi 1377786215632054 (Category: drama)
4. Pratilipi 1377786216454791 (Category: novels)
5. Pratilipi 1377786216477817 (Category: romance)